# Node
node_modules/
package-lock.json

# Workflow & Editor
.idea
.eslintcache
.stylelintcache
stats.json

# macOS
.DS_Store

# Build output
dist/
build/
package/
*.tsbuildinfo
.vercel/
.netlify/
.wrangler/
.svelte-kit/
.lighthouseci/

# Env
.env
.env.*
!.env.example

# Tests
coverage
/test-results
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
